.stats {
  /* height: 200px; */
  padding: 40px 10px;
  margin: 40px 0px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats .row {
  width: 100%;
}

.stats-title {
  color: #707070;
  font-size: 14px;
}

.stats-graph {
  display: flex;
}

.stats-graph-key-item {
  display: flex;
  font-size: 12px;
  margin-bottom: 4px;
}

.stats-graph-key-item-box {
  width: 15px;
  height: 15px;
  border-radius: 2px; 
  margin-right: 5px;
}