.header {
  background-color: #292929;
  height: 50px;
  padding: 20px;
  display: flex;
}

.header-text {
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.header-link:hover {
  text-decoration: none;
  outline: none;
  color: #fff;
}